.container{
    display: flex;
    justify-content:space-around; 
    gap: 200px;     
    margin: 50px auto;
}
body {
  background-image: url('back.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#addBtn{
    width: 40px; 
    height: 40px;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    padding: 0;
    border: none;
}
.left{
    display: flex;
    
    flex-direction: column;
    justify-content: flex-end;

    
}
#bottom{
    width: 5px;             
    height:5px;
}

#top{
    display: flex;
    justify-content: space-between;
    
    width: 400px;             
    height: 50px;            
    background-color: #ede0d3; 
    border-radius: 30px;    
    padding: 15px;            
    box-shadow: 0 4px 8px rgba(255,255,255,0.7);
}
#taskInput {
    width: 350px;
    padding: 8px 12px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
    transition: all 0.3s ease; 
}

#taskInput:hover {
    padding-top: 2px;  
    padding-bottom: 14px;
}
.right {
    width: 500px;             
    height: 600px;            
    background-color: rgba(255, 165, 171, .2); 
    border-radius: 30px;    
    padding: 15px;            
    box-shadow: 0 4px 8px rgba(255,255,255,0.7);
    overflow-y: auto;       
}
.right h1 {
    color: #ffffff;        
    
    display: flex;
    justify-content: space-around;
    font-weight: bold;  
    font-size: 35px;

}

.taskBox {
    background: rgba(255, 165, 171, 0.722);
    padding: 12px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.taskText {
    flex: 1;
    text-align: center;
    font-weight: bold; 
    font-size: 30px;
}

.deleteBtn img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0;
    border: none;
    
    cursor: pointer;
    transition: 0.2s;
}
.deleteBtn {
    width: 30px;               
    height: 30px;
    border-radius: 50%;          
    padding: 0;
    border: none;
    background: #ffffff;         
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    transition: 0.2s;
}


.deleteBtn img:hover {
    transform: scale(1.2);
}
.doneBtn img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.doneBtn {
    width: 30px;               
    height: 30px;
    border-radius: 50%;          
    padding: 0;
    border: none;
    background: #ffffff;         
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    transition: 0.2s;
}


.doneBtn img:hover {
    transform: scale(1.1);
}
.done .taskText {
    text-decoration: line-through;  
    color: #231a1a;                    
    opacity: 0.7;              
}
